<div class="grid-container">
  <h1 class="mat-h1">Aktuelle Warnungen </h1>

  <h3>Ausstehend</h3>
  <mat-accordion>
      <mat-expansion-panel  *ngFor="let item of pendingItems | async; last as last">
        <mat-expansion-panel-header>
          <mat-panel-title>
              {{ item.alertInfos[0].headline }}
          </mat-panel-title>
          <mat-panel-description>
            {{ item.alertId }} von {{ item.senderId }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Datum: {{ moment(item.originatedAt).calendar() }}</p>
        <p>Kategorie: {{ item.category }}</p>
        <p *ngIf="item.alertInfos[0].description">Beschreibung: {{ item.alertInfos[0].description }}</p>
        <p>Ortsbeschreibung: {{ item.alertInfos[0].areaDescription }}</p>
      </mat-expansion-panel>
    </mat-accordion>

  <h3>Angekommen</h3>

  <mat-accordion>
    <mat-expansion-panel  *ngFor="let item of items | async; last as last">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{ item.alertInfos[0].headline }}
        </mat-panel-title>
        <mat-panel-description>
          {{ item.alertId }} von {{ item.senderId }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Datum: {{ moment(item.originatedAt).calendar() }}</p>
      <p>Kategorie: {{ item.category }}</p>
      <p *ngIf="item.alertInfos[0].description">Beschreibung: {{ item.alertInfos[0].description }}</p>
      <p>Ortsbeschreibung: {{ item.alertInfos[0].areaDescription }}</p>
    </mat-expansion-panel>
  </mat-accordion>


</div>